<tr>
  <td><%= link_to author.name, :action => 'show', :id => author %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => author %></td>
  <td>
    <%= button_to 'Borrar', {:action => 'destroy', :id => author},
        :confirm => "Seguro que desea borrar el autor  #{author.name}?" %>
  </td>
</tr>
